@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  font-size: 20px;
  line-height: 24.38px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #054569;
  background-color: #F6FCFF;
}
@media screen and (max-width: 1371px) {
  html, body {
    font-size: 19px;
    line-height: 23px;
  }
}
@media screen and (max-width: 768px) {
  html, body {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 390px) {
  html, body {
    font-size: 16px;
    line-height: 19.5px;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  background: url("../img/bg/right.svg") no-repeat right center, url("../img/bg/left-bottom.svg") no-repeat left bottom -250px;
}

.container {
  max-width: 1720px;
  padding: 0 30px;
}
@media screen and (max-width: 390px) {
  .container {
    padding: 0 20px;
  }
}

.logo {
  font-family: "Inter";
  font-weight: 900;
  font-size: 45px;
  line-height: 54.46px;
  opacity: 0.7;
  margin: 0;
}

.btn-basis {
  border-radius: 50px;
  color: #fff;
  background-color: #054569;
  display: flex;
  transition: all 0.5s;
}
.btn-basis:hover {
  background-color: rgba(105, 140, 169, 0.2);
  color: #054569;
  box-shadow: inset 0 0 0 3px #054569;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .btn-basis {
    width: 100%;
    justify-content: center;
  }
}
.btn-img {
  margin: auto 6px auto 0;
}
.btn-text {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 13.9px;
  line-height: 20.85px;
  margin: 0;
}
@media screen and (max-width: 1440px) {
  .btn-text {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 371px) {
  .btn-text {
    font-size: 10px;
    line-height: 16px;
  }
}
.btn-text span {
  font-weight: 400;
  font-size: 18.53px;
  line-height: 20.58px;
}
@media screen and (max-width: 1440px) {
  .btn-text span {
    font-size: 17px;
    line-height: 25.5px;
  }
}
@media screen and (max-width: 371px) {
  .btn-text span {
    font-size: 15px;
    line-height: 23.5px;
  }
}

.h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}
@media screen and (max-width: 1440px) {
  .h1 {
    font-size: 50px;
    line-height: 68px;
  }
}
@media screen and (max-width: 390px) {
  .h1 {
    font-size: 35px;
    line-height: 45.5px;
  }
}
.h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 55px;
  line-height: 82.5px;
  text-transform: capitalize;
  max-width: 1094px;
  margin: 0;
}
@media screen and (max-width: 1440px) {
  .h2 {
    font-size: 45px;
    line-height: 72.5px;
  }
}
@media screen and (max-width: 390px) {
  .h2 {
    font-size: 30px;
    line-height: 45px;
  }
}
.h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30.48px;
  text-transform: capitalize;
  margin: 0;
}
@media screen and (max-width: 1440px) {
  .h3 {
    font-size: 22px;
    line-height: 27.48px;
  }
}
@media screen and (max-width: 390px) {
  .h3 {
    font-size: 20px;
    line-height: 24.38px;
  }
}

.get-start {
  padding: 18px 62px;
  display: inline-block;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .get-start {
    display: flex;
    padding: 16.5px 0;
  }
}

.header {
  padding: 58px 0;
}
@media screen and (max-width: 390px) {
  .header {
    padding: 45px 0 38px 0;
  }
}
.header_row {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 390px) {
  .header_logo {
    width: 100px;
  }
}
.header_logo-logo {
  font-size: 35px;
  line-height: 42.36px;
}
@media screen and (max-width: 816px) {
  .header_logo-logo {
    font-size: 29.11px;
    line-height: 35.22px;
    text-align: center;
  }
}
.header_logo .top {
  margin-top: 16px;
}
@media screen and (max-width: 816px) {
  .header_logo .top {
    line-height: 23.8px;
    font-size: 19.66px;
    margin-top: 14px;
    text-align: center;
  }
}
.header_name {
  display: flex;
  margin: 4px -10px 0 -10px;
}
@media screen and (max-width: 966px) {
  .header_name {
    flex-direction: column;
  }
}
.header_name-logo {
  margin: 0 5px;
  max-width: 75.23px;
  align-self: flex-end;
}
@media screen and (max-width: 966px) {
  .header_name-logo {
    margin: 0 12px 7px 0;
  }
}
@media screen and (max-width: 390px) {
  .header_name-logo {
    width: 45.89px;
  }
}
.header_name-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: right;
  margin: auto 5px;
  max-width: 461px;
}
@media screen and (max-width: 821px) {
  .header_name-text {
    font-size: 18px;
    line-height: 20px;
    margin: 0 5px;
    width: 192px;
  }
}
@media screen and (max-width: 400px) {
  .header_name-text {
    font-size: 14px;
    line-height: 17.07px;
  }
}

.download {
  padding: 11px 0px 47px 0;
}
@media screen and (max-width: 390px) {
  .download {
    padding: 0;
  }
}
.download_row {
  display: flex;
  margin: 0 -58.5px;
}
@media screen and (max-width: 1124px) {
  .download_row {
    flex-direction: column;
    align-items: center;
  }
}
.download_img {
  padding: 0 58.5px;
  flex: 0 1 50%;
}
@media screen and (max-width: 532px) {
  .download_img {
    padding: 0;
  }
}
.download_img img {
  width: 88%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 48px 48px;
     object-position: 48px 48px;
  overflow: visible;
}
@media screen and (max-width: 532px) {
  .download_img img {
    width: 84%;
    -o-object-position: 38px;
       object-position: 38px;
  }
}
.download_main {
  flex: 1 1 50%;
  padding: 0 58.5px 0 10px;
}
@media screen and (max-width: 1124px) {
  .download_main {
    padding: 48px 58.5px 0 58.5px;
  }
}
.download_main-title {
  padding: 0 7px;
}
.download_main-btn {
  margin: 45px 0;
}
@media screen and (max-width: 390px) {
  .download_main-btn {
    margin: 18px 0 30px;
  }
}
.download_main-code {
  margin-bottom: 41px;
}
@media screen and (max-width: 390px) {
  .download_main-code {
    margin-bottom: 24px;
    padding: 0 5px;
  }
}
.download_main-code-text {
  font-weight: 800;
  font-size: 18px;
  line-height: 21.94px;
  margin-bottom: 10px;
}
.download_main-code-code {
  border: 1px solid rgb(177, 194, 212);
  border-radius: 5px;
  background-color: #ecf2f5;
  padding: 14px 28px;
  display: flex;
  justify-content: space-between;
  max-width: 426px;
  cursor: pointer;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 600;
}
.download_main-disclaimer {
  background-color: #ecf2f5;
  border-radius: 20px;
  padding: 32px 40px;
}
@media screen and (max-width: 1440px) {
  .download_main-disclaimer {
    padding: 20px 16px;
  }
}
@media screen and (max-width: 390px) {
  .download_main-disclaimer {
    margin: 0 0 32px 10px;
  }
}
.download_main-disclaimer ul {
  margin: 0;
}
.download_main-disclaimer ul li {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
}
.download_main-disclaimer ul li::before {
  position: absolute;
  content: url("../img/main/icon/info.svg");
  top: 0;
  left: -41px;
}
@media screen and (max-width: 1440px) {
  .download_main-disclaimer ul li {
    font-size: 16px;
    line-height: 19.94px;
  }
}
.download_main-btngroup {
  display: flex;
  margin: 25px -17.5px 0 -17.5px;
}
@media screen and (max-width: 768px) {
  .download_main-btngroup {
    flex-direction: column;
    align-items: center;
    margin: 18px 0 -7px 0;
  }
}
.download_main-btngroup-btn {
  padding: 6px 29px;
  margin: 0 17.5px;
}
@media screen and (max-width: 768px) {
  .download_main-btngroup-btn {
    display: flex;
    margin: 7px 0;
    padding: 9.5px 27.8px;
  }
}
@media screen and (max-width: 768px) {
  .download_main-btngroup-btn-text {
    display: flex;
    margin: auto 0;
  }
}
@media screen and (max-width: 371px) {
  .download_main-btngroup-btn-text {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .download_main-btngroup-btn-text span {
    margin-left: 10px;
  }
}
@media screen and (max-width: 371px) {
  .download_main-btngroup-btn-text span {
    margin: 0;
  }
}
.download_main-btngroup-btn-img {
  width: 37px;
  height: 37px;
}

.block-descr_row {
  display: flex;
  flex-direction: row;
  padding: 90px 0 180px 0;
  margin: 0 -46.6px;
}
@media screen and (max-width: 1369px) {
  .block-descr_row {
    flex-direction: column-reverse;
    align-items: center;
    padding: 125px 0 70px 0;
  }
}
.block-descr_main {
  flex: 1 1 50%;
  padding: 86px 46.6px 0 121px;
}
@media screen and (max-width: 1369px) {
  .block-descr_main {
    padding: 45px 46.6px 0 46.6px;
    max-width: 913px;
  }
}
@media screen and (max-width: 390px) {
  .block-descr_main {
    padding: 20px 38px 0 56.6px;
  }
}
.block-descr_main-text {
  width: 95%;
  margin-top: 20px;
}
.block-descr_img {
  flex: 0 1 50%;
  padding: 0 46.6px 0 10px;
}
@media screen and (max-width: 1369px) {
  .block-descr_img {
    padding: 0 56.6px;
  }
}
.block-descr_img img {
  width: 100%;
}

.reverse {
  flex-direction: row-reverse;
  padding: 0 0 180px 0;
}
@media screen and (max-width: 1369px) {
  .reverse {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 0 70px 0;
  }
}
.reverse .block-descr_img {
  padding: 0 10px 0 46.6px;
}
@media screen and (max-width: 1369px) {
  .reverse .block-descr_img {
    padding: 0 56.6px;
  }
}
.reverse .block-descr_main {
  padding: 56px 46.6px 0 80px;
}
@media screen and (max-width: 1369px) {
  .reverse .block-descr_main {
    padding: 45px 56.6px 0;
  }
}
@media screen and (max-width: 390px) {
  .reverse .block-descr_main {
    padding: 45px 38px 0 56.6px;
  }
}
.reverse .block-descr_main ul {
  width: 95%;
  padding: 0;
  margin: -5px 0 -8px 0;
}
.reverse .block-descr_main ul li {
  list-style: inside;
  padding: 7.25px 0;
}
@media screen and (max-width: 390px) {
  .reverse .block-descr_main ul li {
    padding: 4.5px 0;
  }
}

.care {
  margin-bottom: 75px;
}
@media screen and (max-width: 928px) {
  .care {
    margin-bottom: 200px;
  }
}
.care .container {
  max-width: 1860px;
  padding: 0 100px;
}
@media screen and (max-width: 928px) {
  .care .container {
    padding: 0 20px;
  }
}
.care_title {
  margin-bottom: 40px;
}
@media screen and (max-width: 475px) {
  .care_title {
    display: none;
  }
}
.care_title2 {
  display: none;
  margin: 0 12px 40px;
}
@media screen and (max-width: 475px) {
  .care_title2 {
    display: block;
  }
}
.care_slider {
  display: flex;
  position: relative;
  margin: 0 -10px;
}
@media screen and (max-width: 928px) {
  .care_slider .slick-track {
    display: block;
  }
}
.care_slider .slick-initialized.slick-slider.slick-vertical {
  max-height: 1076px;
  overflow: hidden;
}
.care_slider_card {
  background-color: #E7F5FF;
  border-radius: 10px;
  width: 400px;
  padding: 26px 24.5px 55px 24.5px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 928px) {
  .care_slider_card {
    margin: 20px 0;
  }
}
@media screen and (max-width: 390px) {
  .care_slider_card {
    width: 331px;
    padding: 20px 10px;
  }
}
.care_slider_card-img {
  margin-bottom: 22px;
  height: 40px;
  width: 40px;
}
.care_slider_card-text {
  display: flex;
  flex-direction: column;
}
.care_slider_card-text-title {
  margin-bottom: 20px;
}
.care_slider_card-text-descr {
  font-size: 18px;
  line-height: 21.94px;
  margin: 0;
}
@media screen and (max-width: 390px) {
  .care_slider_card-text-descr {
    font-size: 16px;
    line-height: 19.5px;
  }
}

.slick-list {
  overflow: hidden;
}
@media screen and (max-width: 928px) {
  .slick-list {
    margin: 0 auto;
  }
}
.slick-track {
  display: flex;
}
.slick-arrow {
  position: absolute;
  font-size: 0;
  background-color: #054569;
  width: 48px;
  height: 48px;
  border-radius: 6.4px;
  cursor: pointer;
  top: 51px;
}
@media screen and (max-width: 928px) {
  .slick-arrow {
    top: 588px;
  }
}
@media screen and (max-width: 390px) {
  .slick-arrow {
    top: 518px;
  }
}
@media screen and (max-width: 357px) {
  .slick-arrow {
    top: 546px;
  }
}
.slick-arrow.slick-prev {
  left: -60px;
}
@media screen and (max-width: 928px) {
  .slick-arrow.slick-prev {
    display: none;
  }
}
.slick-arrow.slick-prev::after {
  content: url("../img/slider/icon/chevron-left-solid.svg");
  text-align: center;
}
.slick-arrow.slick-next {
  right: -60px;
}
@media screen and (max-width: 928px) {
  .slick-arrow.slick-next {
    right: calc(50% - 24px);
  }
}
.slick-arrow.slick-next::after {
  content: url("../img/slider/icon/chevron-right-solid.svg");
  text-align: center;
}
@media screen and (max-width: 928px) {
  .slick-arrow.slick-next::after {
    content: url("../img/slider/icon/chevron-down-solid.svg");
  }
}

.presubcribe {
  margin-bottom: 180px;
}
@media screen and (max-width: 390px) {
  .presubcribe {
    margin-bottom: 128px;
  }
}
.presubcribe_title {
  margin-bottom: 25px;
  text-transform: none;
}

.question {
  margin-bottom: 180px;
}
@media screen and (max-width: 390px) {
  .question {
    margin-bottom: 124px;
  }
}
.question_title {
  margin-bottom: 72px;
}
@media screen and (max-width: 390px) {
  .question_title {
    margin-bottom: 40px;
  }
}
.question_list {
  display: flex;
  margin: 0 -10px;
}
@media screen and (max-width: 816px) {
  .question_list {
    flex-direction: column;
    margin: -8px 10px;
  }
}
.question_row {
  width: 50%;
  margin: -20px 10px;
}
@media screen and (max-width: 816px) {
  .question_row {
    width: 100%;
    margin: -8px 0;
  }
}
.question_col {
  background-color: #E7F5FF;
  padding: 39px 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
  transition: color 0.5s;
  margin: 20px 0;
}
.question_col:hover {
  color: #032941;
  transition: 0.5s;
}
@media screen and (max-width: 1272px) {
  .question_col {
    padding: 24px 20px;
  }
}
@media screen and (max-width: 816px) {
  .question_col {
    margin: 16px 0;
  }
}
.question_col-title {
  color: #054569;
  font-weight: 600;
  font-size: 25px;
  line-height: 30.48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 816px) {
  .question_col-title {
    font-size: 18px;
    line-height: 21.94px;
  }
}
.question_col-title i {
  transition: transform 0.3s;
}
.question_col-text {
  color: #054569;
  padding: 16px;
  margin-top: 24px;
  font-size: 18px;
  line-height: 21.94px;
  background-color: #EEF8FF;
}
@media screen and (max-width: 816px) {
  .question_col-text {
    font-size: 16px;
    line-height: 19.5px;
  }
}

.small {
  padding: 24px 20px;
}

.smaller {
  padding: 24px 20px;
}
.smaller p {
  max-width: 633px;
  margin: 0;
}
.smaller i {
  margin: auto 0;
}

.rotate {
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.b-right {
  border-right: #fff solid 1px;
}

.footer {
  color: #fff;
  background-color: #054569;
}
.footer_store {
  padding: 101px 0 88px 0;
}
@media screen and (max-width: 1473px) {
  .footer_store {
    padding: 56px 0;
  }
}
.footer_store_row {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
}
@media screen and (max-width: 1473px) {
  .footer_store_row {
    flex-direction: column;
    margin: -38.5px 0;
  }
}
.footer_store_powered {
  display: flex;
  margin: 0 20px;
}
@media screen and (max-width: 1473px) {
  .footer_store_powered {
    margin: 38.5px 0;
  }
}
@media screen and (max-width: 899px) {
  .footer_store_powered {
    flex-direction: column;
  }
}
.footer_store_powered_row {
  display: flex;
}
@media screen and (max-width: 899px) {
  .footer_store_powered_row {
    justify-content: space-between;
    margin: 0 27px 0 10px;
  }
}
.footer_store_powered-storelogo {
  margin: 0 4px 0 0;
}
.footer_store_powered-logo {
  margin: 0 42px;
  width: 92px;
  height: 80px;
  align-self: flex-end;
}
@media screen and (max-width: 899px) {
  .footer_store_powered-logo {
    justify-content: flex-end;
    margin: 0;
  }
}
.footer_store_powered-text {
  align-self: flex-end;
  font-size: 18px;
  line-height: 28.8px;
  margin: 0 0 0 78px;
}
@media screen and (max-width: 899px) {
  .footer_store_powered-text {
    align-self: start;
    margin: 60px 25px 0 10px;
  }
}
.footer_store_powered-text span {
  font-size: 16px;
  line-height: 28.21px;
}
.footer_store_download {
  display: flex;
  margin: 0 -22px;
}
@media screen and (max-width: 1473px) {
  .footer_store_download {
    margin: 38.5px -22px;
  }
}
.footer_store_download-storelogo {
  padding: 0 22px;
}
@media screen and (max-width: 631px) {
  .footer_store_download-storelogo {
    align-self: flex-end;
  }
}
.footer_store_download-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 22px;
}
.footer_store_download-link-descr {
  font-family: "Figtree";
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin: 0 22px 6.5px 0;
}
@media screen and (max-width: 631px) {
  .footer_store_download-link-descr {
    margin: 0 0 0 -162px;
    font-size: 22px;
    line-height: 33px;
  }
}
.footer_store_download-link-btn {
  display: flex;
  margin: 6.5px -13px 0;
}
@media screen and (max-width: 631px) {
  .footer_store_download-link-btn {
    flex-direction: column;
    align-items: flex-end;
  }
}
.footer_store_download-link-btn_row {
  background-color: rgb(25, 83, 118);
  border-radius: 23px;
  display: flex;
  padding: 2.61px 18px !important;
  margin: 0 13px;
}
@media screen and (max-width: 631px) {
  .footer_store_download-link-btn_row {
    margin: 10px 0;
    padding: 7px 21px;
  }
}
.footer_store_download-link-btn-img {
  height: 27px;
  width: 27px;
}
.footer_store_download-link-btn-text {
  color: #fff;
  font-family: "Poppins";
  font-size: 10.3px;
  line-height: 15.46px;
  font-weight: 300;
}
@media screen and (max-width: 367px) {
  .footer_store_download-link-btn-text {
    font-size: 8.3px;
    line-height: 13.46px;
  }
}
.footer_store_download-link-btn-text span {
  font-size: 13.74px;
  line-height: 20.61px;
  font-weight: 400;
}
@media screen and (max-width: 367px) {
  .footer_store_download-link-btn-text span {
    font-size: 11.74px;
    line-height: 18.61px;
  }
}
.footer_main {
  background-color: rgba(105, 140, 169, 0.2);
}
.footer_main_row {
  display: flex;
  justify-content: space-between;
  padding: 46px 0;
}
@media screen and (max-width: 795px) {
  .footer_main_row {
    flex-direction: column;
    padding: 40px 0 43px;
  }
}
.footer_main_service {
  margin: 0 -3px;
}
.footer_main_service-text {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin: 0 3px;
}
@media screen and (max-width: 795px) {
  .footer_main_service-text {
    font-size: 14px;
    line-height: 17.07px;
  }
}
.footer_main_copyright {
  margin: auto 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: right;
}
@media screen and (max-width: 795px) {
  .footer_main_copyright {
    font-size: 14px;
    line-height: 17.07px;
    margin-top: 25px;
    text-align: left;
  }
}